table {
	width: 100% !important;
	table-layout: fixed !important
}

th, td {
	width: 25% !important;
	overflow: hidden;
	width:200px;
  max-width:200px;
  min-width:200px;
	word-wrap: break-word;
}

.rbc-header {
	width: 25% !important
}

.rbc-agenda-date-cell {
	white-space: wrap
}

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #558ed5;
	padding: 1px;
	color: white;
}

.App-title {
	font-size: 1em;
}

.bodyContainer {
	margin: 70px;
}

.rbc-toolbar-label {
	color: brown;
	font-weight: bolder;
	font-size: 20px;
	font-family: fantasy;
}

h1,
.instruction {
	font-family: fantasy;
}

.modal {
	display: block;
}

.rbc-toolbar span:first-child button:first-child {
	background-color: #558ed5;
	color: white;
	font-weight: bold;
}

.rbc-toolbar span:first-child button:nth-child(2) {
	text-indent: -9999px;
	line-height: 0;
	margin-left: 5px;
}

.rbc-toolbar span:first-child button:nth-child(2)::after {
	content: '◀';
	text-indent: 0;
	display: block;
	line-height: initial;
	font-size: 13px;
}

.rbc-toolbar span:first-child button:nth-child(3) {
	text-indent: -9999px;
	line-height: 0;
}

.rbc-toolbar span:first-child button:nth-child(3)::after {
	content: '▶';
	text-indent: 0;
	display: block;
	line-height: initial;
	font-size: 13px;
}

.rbc-active {
	background-color: #558ed5 !important;
	color: white !important;
}

.rbc-header {
	background-color: black !important;
	color: white !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	border-radius: 5px;
}

.rbc-toolbar {
	flex-wrap: wrap-reverse;
}

.rbc-day-bg + .rbc-day-bg,
.rbc-month-row + .rbc-month-row {
	border: none !important;
}

.rbc-off-range-bg {
	border-radius: 10px;
	margin-left: 1px;
}

.rbc-month-view {
	border-radius: 10px;
}

.rbc-btn-group {
	white-space: pre-wrap !important;
	margin-bottom: 10px;
}

.authUserProfile-Root {
	margin: 4px;
	text-align: center;
}

.authUserProfile-Avatar {
	border-radius: 50%;
	height: 20px;
	width: 20px;
}

.modal-container {
	position: relative;
}
.modal-container .modal,
.modal-container .modal-backdrop {
	position: absolute;
}

.nav-pills li.active a {
	background-color: #e0e0e0;
	color: #558ed5;
}

.nav-pills li a {
	color: #ffffff;
}

.nav-pills li a:hover {
	background-color: #337ab7;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media screen and (min-width: 1000px) {
	.bodyContainer {
		width: 1050px;
		margin-left: auto;
		margin-right: auto;
	}

	th, td {
		width: 25% !important;
		overflow: hidden;
		width:300px;
	  max-width:300px;
	  min-width:300px;
		word-wrap: break-word;
	}

}

@media screen and (max-width: 500px) {
	.bodyContainer {
		margin: 2%;
	}

	th, td {
		width: 25% !important;
		overflow: hidden;
		width:100px;
	  max-width:100px;
	  min-width:100px;
		word-wrap: break-word
	}
}
